*~
.DS_Store
npm-debug.log*
node_modules
amd/
!tools/amd/
!tools/lib/
!tools/es/
dist/
!tools/dist/
tmp-*-repo/
.babel-cache/
coverage/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
